 /*
Theme Name: sukses theme
Theme URI: imagexsotic.com
Description:  Simple Theme and Elegan Theme
Version: 2.0
Author: Farandi
*/
/* Global */
* { margin: 0; padding: 0; }
.menu { width: 230px; }
.menu-item-188 {border-top: 1px solid #d7d7d7;}
.menu-categories-container ul li a:hover {color: rgb(47, 97, 255);}
.menu-categories-container ul li a {color: #292929;font-weight: 700;font-size: 12px;line-height: 25px;display: block;min-height: 25px;padding: 0 0 0 25px;background-color: transparent;background-image: url(images/menu_plus.png);background-repeat: no-repeat;background-position: 8px 8px;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #ddd;font-weight: bold;margin: 8px;}
.ul li.parent a { }
.side { float: left; width: 230px; display: inline-block; height: 760px; margin-top: 5px; margin-left: 12px;}
.disclaimer p { color: rgb(190, 190, 190); font-size: 14px; border-left: 3px solid rgb(255, 71, 0); padding-left: 5px; position: relative; vertical-align: baseline; line-height: 22px; text-align: justify; font-style: italic;}
.infopost h2 { margin: 0; font-size: 11px; text-decoration: none; text-align: center; text-transform: uppercase; color: rgb(255, 71, 0); font-weight: bold; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.infopost { background-color:  #2b2b2b; padding: 5px; border-top: 1px solid  rgb(77, 76, 76); box-shadow: 0 0px 1px  #2b2b2b;}
.isi_postingan { width: 768px; float: right; border-radius: 5px; margin-bottom: 15px;}
.home_post_box:hover { box-shadow: 0 3px 6px rgba(34,25,25,0.8); }
#walldesktop a:hover { color: rgb(219, 219, 219); text-shadow: 0 1px 2px black;}
#walldesktop { height: 80px; width: 1010px; border: 1px solid rgb(56, 56, 56); padding: 5px; background-color: #333; margin-bottom: 10px; box-shadow: 0px 1px 1px rgb(68, 68, 68);}
}
* { margin: 0; padding: 0; }
body { font-size: 12px; /*background-color: #ccc;*/ background: rgb(27, 27, 27); font-family: arial, verdana, georgia; color: rgb(255, 65, 5); height: auto;}
a { color: #ff4700; text-decoration: none; display: inline; text-align: left; width: auto;}
.hcat {font-weight: bold;font-size: 14px;font-family: arial;text-transform: uppercase;padding: 10px 20px;color: #ff4700;text-decoration: none;display: block;box-shadow: 0 1px 0 #2b2b2b;text-shadow: 0 1px 1px #2b2b2b;-webkit-box-shadow: 0 1px 0 rgb(83, 83, 83);background-color: #2b2b2b;margin: 0px;}
h1,h2,h3,h4,h5,p { margin: 10px 0; }
h1 { font-size: 22px; }
#main_container { width: 1018px; margin: 0 auto; height: auto; position: relative; border-left: 1px solid rgb(63, 63, 63); border-right: 1px solid rgb(63, 63, 63); border-top: 1px solid rgb(63, 63, 63); box-shadow: 0px 1px 1px rgb(175, 175, 175); background-color: #333;}
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
img { border: none; }
/* Header */
#header { margin: 0 auto; width: 1020px;}
.logo { float: left; width: 190px; margin-top: 3px;}
#header ul { list-style-type: none; float: right; }
#header ul li { float: left; font-size: 12px; }
#header ul li a { display: block; color: #fff; background-color: #4F4F4F; padding: 3px 20px; margin-left: 3px; text-decoration: none; }
#header ul li a:hover { background-color: #292828; }
#header ul li.current-menu-item a { background-color: #292828; }
#menu_container { margin: 15px 0 20px 0; background-color: #4F4F4F; position: relative; }
#menu_container ul { list-style-type: none; }
#menu_container ul li { float: left; font-size: 12px; }
#menu_container ul li a { display: block; padding: 10px 15px; border-right: 1px solid #CECECE; color: #cecece; text-decoration: none; }
#menu_container ul li a:hover { background-color: #2A2828; }
#menu_container ul li.current-menu-item a { background-color: #292828; }
#menu_container input[type=text] { width: 138px; height: 27px; border: 1px solid #767676; float: right; margin-top: 3px; margin-right: 5px; color: #707070; padding: 0 25px 0 5px; background-color: #4F4F4F; }
.search_icon { position: absolute; right: 12px; top: 12px; }
/* Content */
.featured_text { font-size: 22px; color: #999999; margin-bottom: 25px; text-align: center; }
.home_post_box { width: 228px; box-shadow: 0px 1px 1px rgb(39, 39, 39); height: auto; float: left; margin: 6px; position: relative; cursor: pointer; border-bottom: 1px solid rgb(39, 39, 39); border-right: 1px solid rgb(39, 39, 39); border-top: 1px solid rgb(39, 39, 39); border-left: 1px solid rgb(63, 63, 63); margin-left: 16px;}
.home_post_box h3 { margin-top: 0; }
.home_post_box h3 a { color: #393939; text-decoration: none; padding: 25px 0; display: block; text-align: center; font-weight: normal; background-color: #fff; }
.home_post_box h3 a:hover { color:#999; }
.home_post_box img { border-bottom: 1px solid  #2b2b2b; box-shadow: 0 1px 0  #2b2b2b;}
 { }
.box_img {box-shadow: 0 1px 0 #FFFFFF;border-bottom: 1px solid #CCCCCC;}
.hcat{background: rgb(22, 22, 22);padding: 7px 0px;font-size: 12px;border-bottom: 1px solid rgb(100, 100, 100);width: 230px;text-align: center;text-shadow: 1px 1px rgb(0,0,0);color: rgb(255, 71, 0);border: 1px solid rgb(100, 100, 100);}
.popular {width: 230px;background: rgba(0,0,0,0.75);}
.home_post_thumb{width: 100px;float: left;}
.home_post_thumb img{width: 105px;height: 60px;padding: 8.5px 7px;}
.infothumb strong{margin-left: 0px;font-size: 11.5px;font-family: calibri;}
.infothumb strong:hover{text-decoration: underline;}
.navigation .left, .navigation .right { padding: 10px 35px; background-color: #fff; }
.navigation a:hover { color:#999; }
.wp-pagenavi {width: 100%;clear: both;padding-top: 0.5em;padding-right: 0px;padding-bottom: 0.5em;padding-left: 0px;height: auto;text-align: center;margin-right: auto;margin-bottom: 5px;margin-left: auto;margin-top: 15px;}
.pop{width: 245px;height: 80px;border-bottom: 1px solid rgb(100, 100, 100);border-right: 1px solid rgb(100, 100, 100);border-left: 1px solid rgb(100, 100, 100);}
.infothumb{width: 127px;float: left;margin-top: 14px;margin-left: 16px;}
.infothumb p{font-family: calibri;color: rgb(155, 155, 155);float: left;margin-left: 2px;font-weight: bold;}
.pages {color: #ff4700;padding-top: 5px;padding-right: 8px;padding-left: 8px;padding-bottom: 5px;width: auto;height: auto;margin-top: 0px;margin-right: 3px;margin-bottom: 0px;margin-left: 0px;border: 1px solid;border-radius: 5px;box-shadow: 0px 1px 2px;}
.single_page {width: 724px;padding: 10px;box-shadow: 0 2px 5px rgb(112, 112, 112);background: #EBEBEB;
float: right;margin-top: 8px;margin-right: 12px;color: rgb(107, 107, 107);}
.current {color: rgb(192, 192, 192);width: auto;height: auto;margin: 0px;padding-top: 5px;padding-right: 8px;padding-bottom: 5px;padding-left: 8px;/*border: 1px solid;*/border-radius: 5px;/*box-shadow: 0px 1px 3px;*/}
.wp-pagenavi a {color: #ff4700;text-decoration: none;height: auto;width: auto;margin: 0px;padding-top: 5px;padding-right: 5px;padding-left: 5px;padding-bottom: 5px;display: inline;border: 1px solid;border-radius: 5px;box-shadow: 0px 1px 2px;}
.wp-pagenavi a:hover {color: rgb(255, 255, 255);border: 1px solid;}
#content_left { width: 687px; float: left; }
.blog_post_box { margin-bottom: 25px; background-color: #fff; padding-bottom: 10px; }
.blog_post_box h3 { padding: 0 10px; }
.blog_post_box p { padding: 0 10px; }
.blog_post_box img { width: 687px; height: 331px; opacity:1.0; filter:alpha(opacity=100); }
.blog_post_box img:hover { opacity:0.8; filter:alpha(opacity=80); }
.single_content { background-color: #333; float: right; width: 750px; height: auto; box-shadow: 0 2px 5px rgb(2, 2, 2); margin-right: 10px; margin-top: 6px;}
.single_content h1 { font-size: 16px; text-transform: uppercase; border: 1px solid rgb(46, 35, 35); padding: 10px; color: #ff4700; background-color: #2b2b2b; box-shadow: 0 1px 1px rgb(22, 22, 22); letter-spacing: 1px; text-shadow: 0 1px 1px #2b2b2b; margin-top: 0px;}
.footer_inside_box { margin-bottom: 25px; }
.footer_inside_box a:hover { color:#999; }
.single_attachment h1 { margin: 0px; font-size: 18px; text-transform: uppercase; border: 1px solid rgb(26, 26, 26); padding: 10px; color: #ff4700; background: #2b2b2b; background-position: left top; box-shadow: 0 1px 2px rgb(39, 39, 39); letter-spacing: 1px; text-shadow: 0 1px 1px #2b2b2b;}
#submit { background-color: #000; color: #fff; border: none; padding: 5px; }
.image_content h2 {text-align: center;margin: 0px;margin-bottom: 5px; padding-top: 10px}
.image_content h2 strong {color: rgb(255, 71, 0);text-shadow: 0 0px 1px rgb(0, 0, 0);font-size: 14px;}
.random_post{height: auto;margin-top: 50px;}
/* Sidebar */
#sidebar { width: 230px; overflow: hidden; margin-bottom: 10px; border: 1px solid rgb(100, 100, 100); background: rgba(0,0,0,0.75); box-shadow: 0 0px 1px rgb(87, 85, 85); border-radius: 2px 2px 2px 2px;}
.side_featured { list-style-type: none; }
.side_featured li { margin-bottom: 25px; }
#side {width: 250px;float: left;margin-top: 5px;height: 760px;}
#attachment {background-color: #333;}
#sidebar li{color: rgb(116, 116, 116);font-size: 12px;line-height: 25px;display: block;min-height: 25px;
background: transparent;background-image: url(images/menu_plus.png);background-repeat: no-repeat;background-position: 10px 12px;border-bottom: 1px solid rgb(53, 53, 53);box-shadow: 0 1px 0 rgb(77, 77, 77);padding: 5px 30px;}
#sidebar li a{padding-right: 5px;color: rgb(214, 214, 214);}
#sidebar li a:hover {}
.infopost p {margin: 0px;padding-left: 2px;text-align: center;font-weight: 400;font-size: 10px;color: rgb(141, 141, 141);}
.pop {width: 230px;height: 80px;border-bottom: 1px solid rgb(100, 100, 100);border-right: 1px solid rgb(100, 100, 100);border-left: 1px solid rgb(100, 100, 100);}
.popularpost{width: 250px;  background: rgb(51, 51, 51); border-right: 1px solid #252525;  border-left: 1px solid #252525; }
.home_post_thumb{width: 100px;float: left;}
.infothumb {float: left;width: 120px;margin-left: 5px;}
.infothumb h3 { margin-top: 0; font-size: 10px; text-decoration: none; cursor: pointer; font-family: arial; text-transform: uppercase; color: #ff7e00; margin-left: 10px;}
.infothumb h3:hover {text-decoration: underline;margin-left: 10px;}
.infothumb p{font-size: 10px;font-family: arial;font-weight: bold;margin: -10px 0 0 0;color: rgb(145, 145, 145);margin-left: 10px;margin-bottom: 9px;}
.side_featured li img { width: 268px; height: 153px; opacity:1.0; filter:alpha(opacity=100); }
.side_featured li img:hover { opacity:0.8; filter:alpha(opacity=80); }
/*single post*/
.image_content img {max-width: 100%;box-shadow: 0 1px 3px rgb(39, 39, 39);width: 724px;height: auto;}
#deskripsi {width: 735px;height: auto;margin-bottom: 10px;border: 1px solid rgb(37, 37, 37);float: left;margin-left: 6px;margin-top: 10px;background-color: #2b2b2b;}
.deskrip {height: auto;margin-left: 10px;font-size: 13px;margin-right: 5px;}
.single_content p{float: right;color: rgb(187, 187, 187);}
#deskripsi h3 {color: rgb(255, 71, 0);text-transform: uppercase;text-shadow: 0 1px 1px rgb(3, 3, 3);font-size: 14px;margin-bottom: 0;}
.description_images p {margin: 0px;margin-left: 10px;text-align: left;margin-bottom: 15px;font-size: 12px;color: rgb(107, 107, 107);}
.image_content {border-bottom: 1px solid rgb(0, 0, 0);box-shadow: 0 2px 0 rgb(71, 71, 71);}
#images_details {font-size: 12px;color: rgb(173, 173, 173);}
.deskrip h4 {text-transform: uppercase;color: rgb(255, 71, 0);text-shadow: 0 1px 1px rgb(15, 15, 15);font-size: 14px;}
.description{margin-left: 10px;height: 105px;/*border-bottom: 1px solid #CCCCCC;box-shadow: 0 2px 0 rgb(255, 255, 255);*/margin-right: 5px; text-align: justify; padding-top: 40px;}
.download a:hover {background: transparent;overflow: hidden;box-shadow: 0 1px 2px rgb(75, 75, 75);color: rgb(131, 131, 131);font-weight: bold;}
.full_size {width: 100px;float: right;margin-bottom: 15px;}
.full_size a {font-weight: bold;border-bottom: 1px solid rgb(190, 190, 190);border-top: 1px solid rgb(190, 190, 190);border-right: 1px solid rgb(190, 190, 190);border-left: 1px solid rgb(190, 190, 190);
padding: 10px;border-radius: 5px;font-size: 14px;}
.full_size a:hover {background: transparent;overflow: hidden;box-shadow: 0 1px 2px rgb(75, 75, 75);color: rgb(131, 131, 131);font-weight: bold;}
.iklan {width: 735px;height: 90px;padding: 8px;margin-top: 5px;margin-left: 3px;}
.adsen {width: 735px;height: 90px;padding: 8px;margin-top: 5px;}
/*attachment*/
.attachment_page {width: 1018;}
.attachment_page img {width: 980px;padding: 10px 20px;height: auto;}
/* Footer */
.top_box{font-size: 14px;margin-top: 2px;}
.top_box a{color: rgb(214, 214, 214);font-weight: bold;}
#footer { margin-top: 60px; padding: 5px 0 15px 18px; border-top: 1px solid rgb(68, 68, 68); border-bottom: 1px solid rgb(68, 68, 68); background: #1b1b1b;}
.footer_box { width: 980px; float: left; margin-top: 10px; }
.footer_box h3 { font-size: 16px; font-weight: normal; }
.footer_box ul { list-style-type: none; margin-left: 0px; }
.footer_box ul li { margin-bottom: 3px; }
.footer_box_last { border-right: none; }
.bottom_footer { color: rgb(111, 111, 111); text-align: right; padding: 10px 10px; font-size: 12px; border-top: 1px solid rgb(68, 68, 68); background-image: url(images/bg_body.png);}
margin: 0px 0;
height: 120px;
}
/* Footer */
#footer { margin-top: 15px; padding: 5px 0 15px 18px; background: transparent; border-top: 1px solid rgb(190, 190, 190); border-right: 1px solid rgb(190, 190, 190); border-bottom: 1px solid rgb(190, 190, 190); border-left: 1px solid rgb(190, 190, 190); border-radius: 5px 5px 0px 0px; box-shadow: 0 1px 1px black;}
.footer_box { width: 980px; float: left; margin-top: 10px; }
.footer_box h3 { font-size: 16px; font-weight: normal; }
.footer_box ul { list-style-type: none; margin-left: 0px; }
.footer_box ul li { margin-bottom: 3px; }
.footer_box_last { border-right: none; }
.bottom_footer { color: rgb(235, 235, 235); }

.main-content {
	width: 750px;
}

.left-content {
	float: left;
	width: 560px;
	padding-left: 14px;
}

.right-content {
	float: right;
	width: 160px;
	padding-right: 10px;
}