/*
Theme Name: Photographer Theme
Theme URI: http://www.andiborneo.net/andiborneotheme
Description: Photographer Theme for WordPress is stylish, customizable, simple, and readable. Perfect for amature and profesional photographers. 
Version: 2.0
Author: Marios Lublinski
Author URI: http://www.dessign.net
Tags: 2 column theme
*/

/* Global */

* { margin: 0; padding: 0; }
body { font-size: 12px; /*background-color: #ccc;*/ background: url('images/bg.jpg') repeat; font-family: arial, verdana, georgia; color: rgb(255, 65, 5); }
a { color: rgb(0, 50, 252); text-decoration: none; }
h1,h2,h3,h4,h5,p { margin: 10px 0; }
h1 { font-size: 22px; }
#main_container { width: 1018px; margin: 0 auto; height: auto; position: relative; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-top: 1px solid #ddd; box-shadow: 0px 1px 1px rgb(175, 175, 175); background: #EBEBEB;}
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
img { border: none; }

/* Header */

#header { padding-top: 2px; background: rgb(53, 52, 52);}
.logo { float: left; margin-top: 13px; margin-left: 30px;}
#header ul { list-style-type: none; float: right; }
#header ul li { float: left; font-size: 12px; }


#menu_container { height: 50px; margin: 15px 0 20px 0; background-color: #2B2B2B; position: relative; }
#menu_container ul { list-style-type: none; }
#menu_container ul li { float: left; font-size: 12px; }
#menu_container ul li a { display: block; padding: 10px 15px; border-right: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); text-decoration: none; }
#menu_container ul li a:hover { background-color: #2A2828; }
#menu_container ul li.current-menu-item a { background-color: #292828; }
#menu_container input[type=text] { width: 180px; height: 27px; border: 1px solid rgb(0, 0, 0); float: right; margin-top: 10px; margin-right: 5px; color: rgb(0, 0, 0); padding: 0 25px 0 5px; background-color: rgb(250, 253, 255); }
.search_icon { position: absolute; right: 12px; top: 12px; }

/* Content */

.pic1 h1 {}
.home_post_box { margin: 9px; position: relative; cursor: pointer; float: right; box-shadow: 1px 1px 6px black; -webkit-box-shadow: 1px 1px 6px rgb(92, 92, 92); border-radius: 10px 1px 10px 1px; height: auto;}
.home_post_box h3 { margin-top: 0; }
.home_post_box h3 a { text-decoration: none; padding: 10px 0; display: block; text-align: center; padding-top: 0px; font-weight: 700; font-size: 11px; height: 11px; border-radius: 0px 0px 10px 10px;}
.home_post_box h3 a:hover { color:#999; }
.home_post_box img { padding-bottom: 5px; padding-top: 8px; padding-left: 11px; padding-right: 11px; width: 210px; height: 140px; margin-bottom: 3px; border-radius: 10px 10px 0px 0px; background: rgb(245, 245, 245); border-bottom: 1px solid #ddd;}
.home_post_box img:hover { opacity:0.8; filter:alpha(opacity=80); }

.navigation .left, .navigation .right { padding: 10px 35px; background-color: #fff; }
.navigation a:hover { color:#999; }

#content_left { width: 687px; float: left; }
.blog_post_box { margin-bottom: 25px; background-color: #fff; padding-bottom: 10px; }
.blog_post_box h3 { padding: 0 10px; }
.blog_post_box p { padding: 0 10px; }
.blog_post_box img { width: 687px; height: 331px; opacity:1.0; filter:alpha(opacity=100); }
.blog_post_box img:hover { opacity:0.8; filter:alpha(opacity=80); }
.single_content { background-color: rgb(247, 247, 247); float: right; width: 770px; height: auto; box-shadow: 0 2px 5px rgb(112,112,112); border-radius: 5px; margin-right: 6px; margin-top: 10px;}
.single_content h1 { font-size: 16px; text-transform: uppercase; border: 1px solid; padding: 10px; color: #f6f6f6; background-color: #0067bf; box-shadow: 0 1px 1px #2b2b2b; margin-top:  0px; border-radius: 5px;}
.footer_inside_box { margin-bottom: 25px; }
.footer_inside_box a:hover { color:#999; }

#submit { background-color: #000; color: #fff; border: none; padding: 5px; }

/* Sidebar */
#sidebar .box {
    width: 223px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 8px;
    padding-bottom: 6px;
    padding: 10px 0px 15px 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(112, 112, 112);
    background: rgb(247, 247, 247);
}

#sidebar h4{
    margin-top: 0px;
    
    color: #fff;
    background: #0067bf;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 7px;
    padding-bottom: 10px;
    padding-left: 7px;
    margin-bottom: 0px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

#sidebar .box_ads {
     width: 223px;
    
     height: auto;
    
     margin-top: 5px;
    
     margin-bottom: 10px;
    
     margin-left: 8px;
    padding-bottom: 6px;
    
     border: 1px solid #ddd;
    border-radius: 5px;
    
     box-shadow: 0 2px 5px rgb(112, 112, 112);
    
     background: rgb(247, 247, 247);
}

#sidebar ul {
list-style-type: none;
padding: 0;
margin-top: 0;
margin-right: 0;
margin-bottom: 5px;
margin-left: 0;

}

#sidebar  li {
font-size: 11px;
line-height: 25px;
display: block;
min-height: 25px;
padding: 5px 30px;
background: transparent;
background-repeat: no-repeat;
background-position: 10px 12px;
font-weight: bold;
background-image: url(images/menu_plus.png);
color: rgb(124, 124, 124);
border-bottom: 1px solid #CCCCCC;
box-shadow: 0 1px 0 rgb(255, 255, 255);
}

.disclaimer p {
    text-align: justify;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-shadow: 0 1px 2px #0a0a0a;
    border-left: 3px solid rgb(11, 93, 158);
    padding-left: 8px;
    position: relative;
}

#sidebar { width: 180px; float: left; height: 760px; min-height: 100%; margin-top: 5px;}
.side_featured { list-style-type: none; }


.side_featured li img { width: 268px; height: 153px; opacity:1.0; filter:alpha(opacity=100); }
.side_featured li img:hover { opacity:0.8; filter:alpha(opacity=80); }

/* Footer */

#footer { margin-top: 1px; margin-bottom: 1px; padding: 5px 15px 18px; background-color: rgb(53, 52, 52); background-position: left top; background-repeat: repeat-x; border-radius: 10px; margin-right: 1px; margin-left: 1px;}
.footer_box { width: 980px; float: left; margin-right: 10px; }
.footer_box h3 { font-size: 16px; font-weight: normal; }
.footer_box ul { list-style-type: none; margin-left: 0px; }
.footer_box ul li { margin-bottom: 3px; }
.footer_box_last { border-right: none; }
.bottom_footer { color: rgb(255, 255, 255); text-align: right; padding: 10px 10px; background-color: rgb(53, 52, 52); font-size: 11px; border-right: 1px solid rgb(255, 255, 255); border-left: 1px solid rgb(255, 255,255);}

.isipostingan {
width: 750px;
float: right;
.blog_post_box img { width: 687px; height: 331px; opacity:1.0; filter:alpha(opacity=100); }
;
border: 1px solid #ddd;
padding: 10px 5px 15px 8px;
box-shadow: 0 1px 5px rgb(112, 112, 112);
margin-bottom: 20px;
margin-right: 8px;
margin-top: 10px;
border-radius: 5px;
background: rgb(247, 247, 247);
}

/*category*/
.isi_postinganctg{
    width: 750px;
    float: right;
    border: 1px solid #ddd;
    padding: 10px 5px 15px 8px;
    box-shadow: 0 1px 5px #ddd;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: rgb(247, 247, 247);
}

/*singleconten*/
.image_content img {
    max-width: 100%;
    box-shadow: 0 1px 3px rgb(114, 114, 114);
    width: 724px;
    height: auto;
    margin-bottom: 10px;
}

.infopost h2{
    margin: 0;
    font-size: 9px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #0067bf;
    text-shadow: 0 1px 1px rgb(255,255,255);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infopost p {
    margin: 0px;
    padding-left: 2px;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    color: rgb(141,141,141);
    padding-bottom: 7px;
}

.image_content h2{
    text-align: center;
    margin: 0px;
}

.image_content h2 strong{
    color: #0067bf;
    text-shadow: 0 0px 1px rgb(255, 255, 255);
    font-size: 14px;
}

#deskripsi{
    width: 755px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 7px;
    border: 1px solid rgb(194,194,194);
    float: left;
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(238,238,238);
}

#deskripsi h3{
    color: rgb(73,73,73);
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgb(173, 173, 173);
    margin-bottom: 0;
}

.single_content p{
    float: right;
    color: rgb(107,107,107);
}

.description {
    margin-left: 10px;
    height: 105px;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 2px 0 rgb(255,255,255);
    margin-right: 5px;
}

.deskrip {
    height: auto;
    border-top: 1px solid #CCCCCC;
    margin-left: 10px;
    font-size: 13px;
    margin-right: 5px;
}

.deskrip h4{
    text-transform: uppercase;
    color: rgb(73, 73, 73);
    text-shadow: 0 1px 1px rgb(173, 173, 173);
    font-size: 14px;
}

#images_details{
    font-size: 12px;
    color: rgb(107,107,107);
}

.full_size{
    width: 90px;
    float: right;
    margin-bottom: 20px;
}

.full_size a{
    font-weight: bold;
    border-bottom: 1px solid rgb(190,190,190);
    border-top: 1px solid rgb(190,190,190);
    border-right: 1px solid rgb(190,190,190);
    border-left: 1px solid rgb(190,190,190);
    padding: 10px;
    border-radius: 5px;
}

.full_size a:hover{
    background: transparent;
    overflow: hidden;
    box-shadow: 0 1px 2px rgb(34,34,34);
    color: rgb(255,61,0);
    font-weight: bold;
}

.download{
    width: 100px;
    float: right;
}

.download a {
    font-weight: bold;
    border-bottom: 1px solid rgb(190,190,190);
    border-right: 1px solid rgb(190,190,190);
    border-left: 1px solid rgb(190,190,190);
    border-top: 1px solid rgb(190,190,190);
    padding: 10px;
    border-radius: 5px;
}

.download a:hover{
    background: transparent;
    overflow: hidden;
    box-shadow: 0 1px 2px rgb(34, 34, 34);
    color: rgb(255, 61, 0);
    font-weight: bold;
}

.wp-pagenavi{
    width: 100%;
    clear: both;
    padding-top: 0.5em;
    padding-right: 0px;
    padding-bottom: 0.5em;
    padding-left: 0px;
    height: auto;
    text-align: center;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    margin-top: 15px;
}

.pages{
    color: #0067bf;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 5px;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-right: 3px;
    margin-bottom: 0px;
    margin-left: 0px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 1px 2px;
}

.current{
    color: rgb(255,122,0);
    width: auto;
    height: auto;
    margin: 0px;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 1px 3px;
}

.wp-pagenavi a{
    color: rgb(47,97,255);
    text-decoration: none;
    height: auto;
    margin: 0px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    display: inline;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 1px 2px;
}
.wp-pagenavi a:hover{
    color: rgb(255,122,0);
    border: 1px solid;
}


.single_attachment h1{
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    color: #f6f6f6;
    background: #0067bf;
    background-position: left top;
    box-shadow: 0 1px 2px rgb(145,145,145);
    letter-spacing: 1px;
    text-shadow: 0 1px 1px #2b2b2b;
    border: 1px solid rgb(190,190,190);
}

.attachment_page{
    width: 1018px;
}

.attachment_page img{
    width: 980px;
    padding: 10px 20px;
    height: auto;
}

.random_post{
    margin-right: 9px;
    margin-top: 6px;
}

.home_post_box:hover{
    box-shadow: 0 3px 6px rgba(34,25,25,0.8);
}
.bottom_footer a{
    color: rgb(238, 67, 14);
    font-weight: bold;
}
.single_page{
    width: 750px;
    float: right;
    border: 1px solid #ddd;
    padding: 10px 5px 15px 8px;
    box-shadow: 0 1px 5px rgb(112,112,112);
    margin-bottom: 20px;
    margin-right: 8px;
    margin-top: 12px;
    border-radius: 5px;
    background: rgb(247, 247, 247);
    color: rgb(107, 107, 107);
}
